:root {
    /* Colors for normal mode*/
    --primary-color: #546b4f;
    --secondary-color: #f9801d;
    --background: #f4f4f4;
    --background-card: #ffffff;
    --placeholder-color: #030406;
    --white: #ffffff;
    --shadow-color: rgb(0, 0, 0, 0.1);

    --primary-color-pressed: #232e22;


    --text-color: #4e4949;
    --text-header:rgba(255, 255, 255, 0.55);

    --background-higer-main: linear-gradient(to bottom, #b7b7b7, #c6c6c6, #d5d5d5, #e4e4e4, #f4f4f4);

    --transparent: #ffffff00;
    --transparent-50: #f6edd9c0;
    --header-color:rgb(33, 37, 41);
    --background-darker: #b7b7b7;
    --theme-button-color: #6588c0;  
    --theme-button-color-darker: #154081;
}

[data-bs-theme="dark"] {
    /* Colors for dark mode */
    --primary-color: #A3B18A;
    --secondary-color: #ffaa64;
    --background: #252525;
    
    --background-card: #1c1c1c;
    --placeholder-color: #5C5C5C;
    --white: #E0E0E0;
    --shadow-color: rgba(0, 0, 0, 0.508);

    --primary-color-pressed: #486745;
    
    --text-color: #dbd9d9;
    --text-header:rgba(255, 255, 255, 0.55);

    --background-higer-main: linear-gradient(to bottom, #121212, #171717, #1c1c1c, #202020, #252525);
    --transparent: #ffffff00;
    --transparent-50: #000000b0;

    --header-color: #3c3c3cb6;
    --background-darker: #000000;
    --theme-button-color: #d7a251;
    --theme-button-color-darker: #875100;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}



.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 0 solid dark;
}

/* Dark Theme */
body{
    background-color: var(--background);
    color: var(--text-color);
}

.theme-toggle.border.border-3.px-2.py-1.ms-1 > i{
    color: var(--theme-button-color);
    margin: 0px;
}

body.dark-theme,
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    background-color: var(--header-color) !important;
    border-bottom: 2px solid var(--secondary-color); /* Accent separator */
}

.dark-theme .card {
    background-color: #1c1c1c;
    color: #ffffff;
    border-color: #444444;
}

.dark-theme .container h2 {
    background-color: #1c1c1c;
    color: #ffaa64; /* Accent color for headings */
    border-color: #444444;
}

.dark-theme .navbar-brand,
.dark-theme .nav-link {
    color: #ffffff !important;
}

.dark-theme .logo-plan {
    color: #ffffff;
}

.dark-theme header {
    background-color: #0d0d0d !important;
}

.dark-theme section {
    background-color: #1c1c1c !important;
    color: #ffffff;
}

body > footer {
    background-color: var(--header-color) !important;
}

body > footer > p{
    color: var(--text-header);
}
body > footer > p > a{
    color: var(--secondary-color);
}

/* Card presentaizione*/
#about{
    background-color: var(--background-card);
}

/* contatti*/
#contacts{
    background-color: var(--background-card);
}

/* Icone contatti*/
.dark-theme #contacts > div > a > i {
    color: #ffaa64;
}
#contacts > div > a > i {
    color: #f9801d;
}


.dark-theme a {
    color: #ffaa64;
}

.dark-theme a:hover {
    color: #ffcc88;
}

/* Button styles remain unchanged */
.dark-theme .btn-primary {
    background-color: #474747;
    border-color: #474747;
}

.dark-theme .btn-primary:hover {
    background-color: #989696;
    border-color: #989696;
}

.fab, .fas, .fa, .fa-brands, .fa-sharp, .bi, .fa-solid{
    color: var(--secondary-color) !important;
    font-size: 30px;
    margin-top: 3%;
    margin-right: 4px;
    margin-bottom: 3px;
}


/* Img projects card */
@media screen and (max-width: 768px) {
    main .card-img, .card-img-bottom, .card-img-top{
        width: 30%;
        border-radius: 5px;
        border-top-right-radius:0% !important;
        border-bottom-right-radius:0% !important;
    }
    body > main > div > div > div > div > div > a{
        width: 20%;
    }
    #navbarNav > button{
        margin-left: 92% !important;
    }
}

@media screen and (max-width: 576px) {
    main .card-img, .card-img-bottom, .card-img-top{
        width: 50%;
        border-bottom-left-radius:0% !important;
        border-bottom-right-radius:0% !important;
    }
    body > main > div > div > div > div > div > a{
        width: 20%;
    }
    #about > div > div > div > div, #about > div > div > div > div > a{
        border-bottom-left-radius:0% !important;
        border-bottom-right-radius:0% !important;
    }

    #about > div > div > div > div > a > img{
        width: 40%;
    }
    #about > div > div > div > div > a{
        width: 40%;
    }
    .fab, .fas, .fa, .fa-brands, .fa-sharp, .bi, .fa-solid{
        color: var(--secondary-color) !important;
        font-size: 20px;
        margin-top: 3%;
        margin-right: 4px;
        margin-bottom: 3px;
    }
    a.btn{
        margin: 0px !important;
        font-size: 12px;
    }
    .card-title{
        font-size: 18px;
    }
    .card-text{
        font-size: 15px;
        margin-bottom: 4px;
    }
    #about > div > div > div > div > div > p{
        font-size: 12px;
        margin-bottom: 6px !important;
    }
    #about > div > div > div > div > div > h5{
        font-size: 15px;
    }
    div.card-body{
        padding: 3px !important;
    }
    #navbarNav > button{
        margin-left: 89% !important;
    }
}

#about > div > div > div > div > a > img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#about > div > div > div > div > a{
    width: 30%;
    height: 100%;
}

#contacts > div.d-flex.justify-content-around.gap-4 > a > i, #contacts > div > a > i{
    font-size: 30px;
}





.theme-icon {
    color: var(--theme-button-color) !important;
    font-size: 20px;
    margin: 0px;
}

a.btn {
    background-color: var(--background-card) !important;
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

a.btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--background-card) !important;
    border-color: var(--secondary-color) !important;
}




main[data-homeNegozio]>div.row.justify-content-center.py-5>div.col-10.col-md-4>a {
    display: block;
    color: white;
    font-size: 50px !important;
    border-radius: 1000px;
    padding-top: 3%;
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14;
    animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

#higer-main{
    background-image: var(--background-higer-main);
}
#higer-main > p{
    display: block;
    color: var(--white);
    font-size: 30px !important;
    border-radius: 1000px;
    padding-top: 3%;
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color);
    animation: blink 3s ease-in-out infinite;
}

#navbarNav > ul > li > a{
    text-align: end;
}

/* Sfondo scuro trasparente */
#lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Immagine centrata */
#lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 2px;
    box-shadow: 0 0 20px #000;
    cursor: zoom-out;
}
